body, html {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}
header {
  box-shadow: 0 0 3px #aaa;
}
section {
  padding: 25px;
}
.add-task {
  position: fixed;
  bottom: 25px;
  right: 25px;
  border: none;
  height: 50px;
  width: 50px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $secondary;
  color: #fff;
  border-radius: 50%;
  outline: none;
}
ul {
  li {
    list-style: none;
  }
}